Source: usbmuxd
Section: utils
Priority: optional
Maintainer: Julien Lavergne <julien.lavergne@gmail.com>
Standards-Version: 3.8.3
Build-Depends: debhelper (>= 7), libusb-1.0-0-dev (>= 1.0.3), cmake

Package: usbmuxd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Socket daemon to multiplex connections from and to the iPhone
 A socket daemon to multiplex connections from and to the iPhone.

Package: libusbmuxd1
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Socket daemon to multiplex connections from and to the iPhone
 A socket daemon to multiplex connections from and to the iPhone.
 .
 This package contains the shared library.

Package: libusbmuxd-dev
Architecture: any
Section: libdevel
Depends: libusbmuxd1 (= ${binary:Version}), ${misc:Depends}
Description: Socket daemon to multiplex connections from and to the iPhone
 A socket daemon to multiplex connections from and to the iPhone.
 .
 This package contains the development files.

Package: libusbmuxd1-dbg
Architecture: any
Section: debug
Priority: extra
Depends: libusbmuxd1 (= ${binary:Version}), ${misc:Depends}
Description: Socket daemon to multiplex connections from and to the iPhone
 A socket daemon to multiplex connections from and to the iPhone.
 .
 This package contains the debugging symbols.
