Source: usbmuxd
Section: utils
Priority: optional
Maintainer: Julien Lavergne <julien.lavergne@gmail.com>
Standards-Version: 3.8.3
Build-Depends: debhelper (>= 7), libusb-1.0-0-dev (>= 1.0.3), cmake

Package: usbmuxd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser
Description: Daemon to access iPhone devises over USB
 usbmuxd is a socket daemon which talks to your iPhone or iPod Touch over USB
 and coordinating access to its services by other applications.

Package: libusbmuxd1
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Daemon to access iPhone devises over USB - library
 usbmuxd is a socket daemon which talks to your iPhone or iPod Touch over USB
 and coordinating access to its services by other applications.
 .
 This package contains the shared library.

Package: libusbmuxd-dev
Architecture: any
Section: libdevel
Depends: libusbmuxd1 (= ${binary:Version}), ${misc:Depends}
Description: Daemon to access iPhone devises over USB - development files
 usbmuxd is a socket daemon which talks to your iPhone or iPod Touch over USB
 and coordinating access to its services by other applications.
 .
 This package contains the development files.

Package: libusbmuxd1-dbg
Architecture: any
Section: debug
Priority: extra
Depends: libusbmuxd1 (= ${binary:Version}), ${misc:Depends}
Description: Daemon to access iPhone devises over USB - debug
 usbmuxd is a socket daemon which talks to your iPhone or iPod Touch over USB
 and coordinating access to its services by other applications.
 .
 This package contains the debugging symbols.
